#body-login input[type="text"],
#body-login input[type="email"],
#body-login input[type="password"] {
	width: 223px !important;
	padding-left: 36px;
}
img.icon {
	position: absolute;
	left: 16px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}
img.icon.username-icon  {
	top: 17px;
}

.msg {
	color: white;
	margin: 5px;
}
.msg a {
	color: white;
	text-decoration: underline;
}

.groupofone {
	position: relative;
}
